<a href="https://colab.research.google.com/github/brunaopdejesus/redesNeurais/blob/main/RN_Aula03_Perceptron_ALUNO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FIAP - Redes Neurais Artificiais, Deep Learning e Algoritmos Genéticos 

# Aula 03 - Trabalhando com Perceptron

## Implementação de um Perceptron simples

In [ ]:
# Definir a função de agregação de informação (soma poderada)
def soma_agregada(entradas, pesos):
  soma = 0
  for i in range(len(entradas) ):
    soma += entradas[i] * pesos[i]
  return soma

In [ ]:
# Definir a função de ativação: FUNÇÃO DEGRAU
def funcao_degrau(u, b=0):
  if u+b>0:
    return 1
  else:
    return  0

In [ ]:
x = [1,2,3]
w = [0.1,0.2,0.3]
b = 0

In [ ]:
u = soma_agregada(x, w)
resp = funcao_degrau(u,b)
print(f"Para um valor de x={x} e w={w}, \
o percéptron está {'ATIVADO' if resp==1 else 'NÃO ESTÁ ATIVADO'}")

Para um valor de x=[1, 2, 3] e w=[0.1, 0.2, 0.3], o percéptron está ATIVADO

## Casos de aplicação do perceptron

Vamos analisar a base `escolha_faculdade.xlsx` com exemplos de faculdades identificadas pelo ID e com um conjunto de variáveis que as descrevem. As variáveis são: 

- reconhecida_MEC: a faculdade é reconhecida pelo MEC? 1=sim ; 0=não
- facilidade_pagamento: a faculdade apresenta facilidades para pagamento? 1=sim ; 0=não
- flexibilidade_ensino: o quão flexível é o método de ensino? 1=somente presencial ; 2=somente EAD ; 3=misto
- entrada_mercado: o que a faculdade oferece para facilitar a entrada do aluno no mercado de trabalho? 0=sem suporte ; 1=feiras ; 2=feiras e estágios ; 3=feiras, estágios e convênios com empresas
- score_infraestrutura: qual nota de 0 a 100 a escola possui para sua infraestrutura? 
- empregabilidade: qual a porcentagem de alunos egressos empregados? 
- acesso_facil: a localização possui fácil acesso, como metrô, ônibus, estacionamento? 1=sim ; 0=não

In [ ]:
# Pesos já fornecidos 
pesos = [ 0.10, 0.05, 0.05, 0.2, 0.25, 0.3, 0.05 ]

In [ ]:
import pandas as pd
import math

In [ ]:
df = pd.read_excel("escolha_faculdade.xlsx", index_col="ID")

In [ ]:
df.head()

,reconhecida_MEC,facilidade_pagamento,flexibilidade_ensino,entrada_mercado,score_infraestrutura,empregabilidade,acesso_facil
ID,,,,,,,
1,1,1,1,3,50,78,1
2,1,0,2,1,60,91,0
3,1,1,1,1,55,13,1
4,0,1,3,0,78,68,1
5,0,1,2,2,74,72,0

In [ ]:
escolas = df.T

In [ ]:
escolas[9]

reconhecida_MEC          1
facilidade_pagamento     0
flexibilidade_ensino     3
entrada_mercado          3
score_infraestrutura    89
empregabilidade         89
acesso_facil             0
Name: 9, dtype: int64

In [ ]:
soma_agregada(escolas[9], pesos)

49.8

In [ ]:
#Definir função para classificação
def funcao_classificacao(u, b=0):
  if u+b>=35:
    return 1
  else:
    return 0

In [ ]:
#Definir função para regressão
def funcao_regressao(u, b=0):
  return (u+b)**2

In [ ]:
resp_clas = []
resp_regr = []

for i in range(1, 11): #pegando os ID's de 1 a 10
  e = escolas[i]
  u = soma_agregada(e, pesos)
  atv = funcao_classificacao(u)
  reg = funcao_regressao(u)
  resp_clas.append(atv)
  resp_regr.append(reg)

print(resp_regr)

[1350.5625, 1823.2900000000002, 327.61000000000007, 1612.0224999999994, 1652.4225, 1085.7025, 1242.5625, 135.7225, 2480.0399999999995, 235.62250000000003]